.ant-input-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-icon-only {
  vertical-align: middle;
}

.ant-menu-root {
  width: 190px;
  flex: 1;
  overflow: auto;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.workspace > .ant-menu-submenu-title:first-child,
.workspace > .ant-menu-submenu-title:first-child:hover {
  background-color: #fff7e6;
  color: #d46b08 !important;
  font-weight: 500;
  border-radius: 2px;
  margin-top: 15px;
  padding-left: 4px !important;
}

.ant-menu-submenu-title:has(.kanbans),
.ant-menu-submenu-title:has(.settings) {
  padding-left: 4px !important;
  color: #262626;
  font-weight: 500;
}

.ant-menu-item {
  height: 30px !important;
  padding-left: 30px !important;
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.ant-menu-item:has(.ant-menu-title-content > .members) {
  padding-left: 5px !important;
  color: #262626;
  font-weight: 500;
}

.svg-content {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
}
.svg-rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

/* Carousel */
.carousel-arrow {
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  cursor: pointer;
}
.carousel-arrow-left {
  left: -8%;
  transform: rotate(-45deg);
}
.carousel-arrow-right {
  right: -8%;
  transform: rotate(135deg);
}
.ant-carousel .slick-dots-bottom {
  bottom: -20px;
}
.ant-carousel .slick-dots li {
  padding: 0 12px
}
.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}
.ant-carousel .slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: #FFA940;
}

/* Plan */
.ant-steps .ant-steps-item-finish .ant-steps-item-icon,
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #FFA940;
  border-color: #FFA940;
}
.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #c7c7c7;
  border-color: #F0F0F0;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon,
.ant-steps .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon,
.ant-steps .ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
  color: transparent;
}
.ant-steps .ant-steps-item-wait {
  opacity: 0.4;
}
.ant-steps .ant-steps-item>.ant-steps-item-container>.ant-steps-item-content {
  font-weight: bold;
}
@media (min-width: 576px) {
  .ant-steps .ant-steps-item>.ant-steps-item-container {
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    height: 80px;
  }
  .ant-steps .ant-steps-item .ant-steps-item-container::after {
    position: absolute;
    top: 16px;
    left: 43px;
    width: 90%;
    height: 1px;
    background: rgba(5, 5, 5, 0.2);
    content: "";
  }
  .ant-steps .ant-steps-item:last-child .ant-steps-item-container::after {
    display: none;
  }
  .ant-steps .ant-steps-item:nth-child(1)>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    margin-left: -40px;
  }
  .ant-steps .ant-steps-item:nth-child(2)>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    margin-left: -44px;
  }
  .ant-steps .ant-steps-item:nth-child(3)>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    margin-left: -36px;
  }
  .ant-steps .ant-steps-item>.ant-steps-item-container>.ant-steps-item-content {
    margin-top: 30px;
  }
  .ant-steps .ant-steps-item>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
    display: none;
  }
}
.ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-inline-start: 0px;
}
.ant-steps.ant-steps-vertical:not(.ant-steps-label-horizontal)>.ant-steps-item .ant-steps-item-content {
  height: 60px;
}