.ant-input-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-icon-only {
  vertical-align: middle;
}

.ant-menu-root {
  width: 190px;
  flex: 1;
  overflow: auto;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.workspace > .ant-menu-submenu-title:first-child,
.workspace > .ant-menu-submenu-title:first-child:hover {
  background-color: #fff7e6;
  color: #d46b08 !important;
  font-weight: 500;
  border-radius: 2px;
  margin-top: 15px;
  padding-left: 4px !important;
}

.ant-menu-submenu-title:has(.kanbans),
.ant-menu-submenu-title:has(.settings) {
  padding-left: 4px !important;
  color: #262626;
  font-weight: 500;
}

.ant-menu-item {
  height: 30px !important;
  padding-left: 30px !important;
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.ant-menu-item:has(.ant-menu-title-content > .members) {
  padding-left: 5px !important;
  color: #262626;
  font-weight: 500;
}

.svg-content {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
}
.svg-rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.carousel-arrow {
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  cursor: pointer;
}
.carousel-arrow-left {
  left: -8%;
  transform: rotate(-45deg);
}
.carousel-arrow-right {
  right: -8%;
  transform: rotate(135deg);
}
.ant-carousel .slick-dots-bottom {
  bottom: -20px;
}
.ant-carousel .slick-dots li {
  padding: 0 12px
}
.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}
.ant-carousel .slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: #FFA940;
}

.ant-popover{
  width: 300px;
}
.ant-popover .ant-popover-content{
  top:30px;
  right: 1.2rem;
}
.ant-popover .ant-popover-inner{
  border-radius:6px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.ant-popover .ant-popover-inner .ant-popover-inner-content .msg-content{
  white-space:pre
}
.ant-popover .ant-popover-title{
  font-weight: normal;
}
